
      <!-- NAVBAR -->
      <!-- STEP 1 -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item nav-bar">
          <a class="nav-link active step pills-color" id="pills-first-tab" data-toggle="pill" href="#pills-first" role="tab" aria-controls="pills-first" aria-selected="true">1. Activité</a>
        </li>

      <!-- STEP 2 -->
        <li class="nav-item nav-bar">
          <a class="nav-link step pills-color" id="pills-second-tab" data-toggle="pill" href="#pills-second" role="tab" aria-controls="pills-second" aria-selected="false">2. Réglementation</a>
        </li>


      <!-- STEP .. -->
        <li class="nav-item nav-bar">
          <a class="nav-link step pills-color" id="pills-third-tab" data-toggle="pill" href="#pills-third" role="tab" aria-controls="pills-third" aria-selected="false">3. Age</a>
        </li>

      <!-- STEP .. -->
        <li class="nav-item nav-bar">
          <a class="nav-link step pills-color" id="pills-fourth-tab" data-toggle="pill" href="#pills-fourth" role="tab" aria-controls="pills-fourth" aria-selected="false">4. Accre</a>
        </li>

      <!-- STEP .. -->
      </ul>
    </div>


    <!-- SIMPLE FORM -->
    <%#= simple_form_for(@simulation) do |f| %>
      <div class="tab-content" id="pills-tabContent">
        <!-- START -->

        <!-- PAGE ...-->
          <div class="tab-pane fade mt-3 show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
            <h3 class="mb-4"> Quelle est votre catégorie d'activité ? </h3>
              <fieldset>

                <%#= f.input :activity, as: :select, collection: Simulation::ACTIVITIES, label: false, prompt: "Quelle est votre catégorie d'activité ?", :class => 'mt-4' %>
                 <%#= f.input :activity, label: false, collection: Simulation::ACTIVITIES, as: :check_boxes, :class => "check_boxes"  %>
              <form>
                <div class="form-group">
                    <div class="activity-choices">
                      <% Simulation::ACTIVITIES.each do |activity| %>
                        <input type="checkbox" class="hidden" value="<%= activity %>" name="simulation[activity][]" id="simulation_activity<%= activity %>">
                        <label for="simulation_activity<%= activity %>" class="activity-card">
                        <%= activity %>
                        </label>
                      <% end %>
                    </div>
                </div>

              </fieldset>
              <div class="tab-buttons text-right" id="first-tab">
                <button class="btn btn-primary next-btn mt-2" href="#">Suivant</button>
              </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane mt-3 fade" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab">
            <h3 class="mb-4"> Est-ce une activité libérale règlementée ?</h3>
              <fieldset>

                <%#= f.input :reglementary, as: :select, label: false, prompt: "Est-ce une activité libérale règlementée ?", :class => 'mt-4' %>
                <%#= f.input :reglementary, :class => 'check_boxes', label: false, as: :check_boxes %>
                <div class="form-group">
                    <div class="reglementary-choices">
                        <input type="checkbox" class="hidden" value="reglementary" name="simulation[reglementary][]">
                      <%# end %>
                    </div>
                </div>

              </fieldset>

              <div class="tab-buttons">
                <button class="btn btn-primary previous-btn mt-2" href="#">Précédent</button>
                <button class="btn btn-primary next-btn mt-2" href="#">Suivant</button>
              </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane mt-3 fade" id="pills-third" role="tabpanel" aria-labelledby="pills-third-tab">
            <h3 class="mb-4">🎂 Quel est l'âge à votre entreprise ?</h3>
              <fieldset>

                <%#= f.input :year_existence, as: :select, label: false, prompt: "Quel est l'âge à votre entreprise ?", :class => 'check_boxes', collection: Simulation::YEAREXISTENCE %>

              </fieldset>

              <div class="tab-buttons">
                <button class="btn btn-primary previous-btn mt-2" href="#">Précédent</button>
                <button class="btn btn-primary next-btn mt-2" href="#">Suivant</button>
              </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane fade mt-3 " id="pills-fourth" role="tabpanel" aria-labelledby="pills-fourth-tab">
            <h3 class="mb-4"> Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?</h3>
              <fieldset>


                  <%#= f.input :accre, as: :select, :label => "Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?"%>
                  <%#= f.input :accre, label: false, as: :check_boxes, :class => 'check_boxes' %>

              </fieldset>
              <div class="tab-buttons">
                <button class="btn btn-primary previous-btn mt-2" href="#">Précédent</button>
                <%#= f.submit "Créer", class:"btn-primary"%>
                <input type="submit">
              </form>
              </div>
          </div>
      </div>
    <%# end %>




<!-- different steps of the simulation -->
<!-- <div class="step-progress-bar inline">

</div> -->

<!-- <div class="row">
  <div class="col-5"> -->
    <%#= simple_form_for @simulation do |f| %>

        <%#= f.input :activity,
        label:"Quelle est votre catégorie d'activité ?",
        collection: Simulation::ACTIVITIES,
        as: :select %>

        <%#= f.input :reglementary,
        label:"Est-ce une activité libérale règlementée ?",
        as: :select %>

        <%#= f.input :year_existence,
        label:"Quel est l'âge de l'entreprise en année d'activité ?",
        collection: Simulation::YEAREXISTENCE,
        # include_blank: true,
        as: :select %>

        <%#= f.input :accre,
        label:"Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?",
        as: :select %>

      <%#= f.submit "valider", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>
</div> -->


