// Define variables for your color scheme

// For example:
$dark-blue:    #221ECE;
$turquoise:    #66D7EE;
$pink:         #BE0C62;
$purple:       #6C16C7;
$yellow:       #FAA306;
$light-yellow: #FEF7EC;

