// Define variables for your color scheme

// For example:
$dark-blue:        #221ECE;
$turquoise:        #66D7EE;
// $turquoise = color for "factures envoyées"
$paid:             #64D286;
$delayed:          #F5365C;
$pink:             #BE0C62;
$purple:           #6C16C7;
$yellow:           #FAA306;
$background-color: #F9F9FB;

