// Define variables for your color scheme

// For example:
$dark-blue:        #221ECE;
// $dark-blue = color for "factures envoyées"
$turquoise:        #66D7EE;
$paid:             #64D286;
$delayed:          #F5365C;
$pink:             #f31069;
$purple:           #6C16C7;
$yellow:           #ffcb3f;
// autre $background-color: #f4f4f4 (plus foncée);
$background-color: #f7f7f7;
// $background-color: #f5f9f2;
