.welcome-card {
  margin-top: 120px;
  margin-left: 50px;
  background: $yellow;
  border-radius: 10px;
  h2 {
    color: #444053;
    padding: 25px;
  }
}

.notification-bar {
  background: white;
  border-left: 1px solid rgb(247, 235, 217);
  display: flex;
  align-items: center;
}

// .calendar {
//    important day color : #FB9D56
// }

.invoices-cards{
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: 50px;
}

.invoices-status {
  overflow: hidden;
  border-radius: 10px;
  &:first-child {
    margin-left: 0px;
  }
  margin-left: 50px;
  h5 {
    font-size: 15px;
  }
}

.column-title {
  background: white;
  padding: 20px;
  vertical-align: middle;
  h3 {
    margin-bottom: 0!important;
    font-size: 20px;
  }
}

.checklist-entry {
  padding: 20px;
}

.checklist-item {
  display: flex;
  align-items: center;
}

.checklist-info {
  display: flex;
  margin-right: 15px;
  width: 250px;
}

.vertical-line {
  overflow: hidden;
  margin-right: 10px;
}

.vertical-line.sent {
  border-left: 3px solid #66D7EE;
}

.vertical-line.paid {
  border-left: 3px solid #BE0C62;
}

.vertical-line.delayed {
  border-left: 3px solid #6C16C7;
}

.mark-as-paid-button {
  border-radius: 5px;
  background: #444053;
  color: white;
  padding: 3px 15px;
  i {
    opacity: 0.8;
  }
}

.mark-as-paid-button:hover {
    transition: all ease 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  i {
    opacity: 1;
  }
}
