.homepage-container {
  width: 1000px;
  margin: 0 auto;
}

.top-div-homepage {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.welcome-card {
  // background: $yellow;
  // background: #F64451;
  // background: #f9454b;
  background: #6200EF;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 20px;
  p {
    font-size: 18px;
  }
  .two-actions-from-homepage-card {
    padding-top: 7px;
  }
  .second-button-on-the-right {
    margin-left: 15px;
  }
}

.timer-cotisations-chart {
  background: white;
  border-radius: 10px;
  height: 200px;
  width: 365px;
}

.second-div-homepage {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.invoices-cards-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 40px;
}

.invoices-status {
  overflow: hidden;
  border-radius: 10px;
  // &:first-child {
  //   margin-left: 0px;
  // }
  // margin-left: 40px;
  h5 {
    font-size: 15px;
  }
}

.column-title {
  background: white;
  padding: 20px;
  vertical-align: middle;
  h3 {
    margin-bottom: 0!important;
    font-size: 20px;
  }
}

.checklist-entry {
  padding: 20px;
}

.checklist-item {
  display: flex;
  align-items: center;
}

.checklist-info {
  display: flex;
  align-items: flex-start;
  margin-right: 15px;
  width: 250px;
}

.status-colored-circle {
  font-size: 12px;
  margin-right: 10px;
}

.status-colored-circle.sent {
  color: $dark-blue;
  line-height: 1.9;
}

.status-colored-circle.paid {
  color: $paid;
  line-height: 1.9;
}

.status-colored-circle.delayed {
  color: $delayed;
  line-height: 1.9;
}

.homepage-invoice-infos {
  flex-grow: 1;
  text-align: left;
}

.mark-as-paid-button {
  border-radius: 5px;
  // background: #FFC108;
  background: $yellow;
  box-shadow: 0px 2px 2px rgba(50,50,93,.11);
  color: white;
  text-align: center;
  padding: 2px 9px;
  i {
    opacity: 0.9;
  }
}

.mark-as-paid-button:hover {
    transition: all ease 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  i {
    opacity: 1;
  }
}

.late-client-button {
  margin-top: 7px;
  border-radius: 5px;
  // background: #FFC108;
  background: $yellow;
  box-shadow: 0px 2px 2px rgba(50,50,93,.11);
  color: white;
  text-align: center;
  padding: 2px 9px;
  i {
    opacity: 0.9;
  }
}

.late-client-button:hover {
    transition: all ease 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  i {
    opacity: 1;
  }
}

.invoices-counted-with-circle-blue{
  background-color: $dark-blue;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}

.invoices-counted-with-circle-green{
  background-color: $paid;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}

.invoices-counted-with-circle-pink{
  background-color: $delayed;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}

.cotisations-time {
  margin-top: 70px;
  margin-left: 90px;
  margin-right: 70px;
  font-size: 20px;
  font-weight: 500;
  background-color: #FFC108;
  padding: 30px 45px;
  border-radius: 10px;
  color: white;
}

.sum-to-pay {
  color: #6200EF;
  font-weight: 700;
  font-size: 26px;
}

.payment-date {
  color: #6200EF;
  font-weight: 700;
  font-size: 26px;
}
