<div class="notification-bar">

  <div class="notification-card">
    <div class="notification-card-title">
      <i class="fas fa-wallet notif-icon-cotisations"></i>
      <h3>Paiement de vos cotisations</h3>
    </div>
    <p>Vous devrez bientôt payer vos cotisations pour la période du "01/04/2019 au 30/06/2019 inclus", pour un montant total de 879,00 €. Attention, vous avez jusqu'au 31/07/2019 pour les règler.</p>
    <small class="notif-date-trigger">il y a 3 jours</small>
  </div>

  <div class="notification-card">
    <div class="notification-card-title">
      <i class="far fa-paper-plane notif-icon-sent"></i>
      <h3>Facture envoyée</h3>
    </div>
    <p>Vous venez de créer et d'envoyer la facture invoice.reference à votre client client.name dans le cadre de la mission invoice.title, pour un montant total de invoice.total_amount. Votre client a jusqu'au invoice.due_date pour la régler.</p>
    <small class="notif-date-trigger">il y a 3 jours</small>
  </div>

  <div class="notification-card">
    <div class="notification-card-title">
      <i class="far fa-paper-plane notif-icon-sent"></i>
      <h3>Facture envoyée</h3>
    </div>
    <p>Vous venez de créer et d'envoyer la facture invoice.reference à votre client client.name dans le cadre de la mission invoice.title, pour un montant total de invoice.total_amount. Votre client a jusqu'au invoice.due_date pour la régler.</p>
    <small class="notif-date-trigger">il y a 3 jours</small>
  </div>

  <div class="notification-card">
    <div class="notification-card-title">
      <i class="fas fa-hand-holding-usd notif-icon-paid"></i>
      <h3>Paiement reçu</h3>
    </div>
    <p>La facture numero invoice.reference vient d'être réglée par votre client client.name, pour un montant total de invoice.total_amount.</p>
    <small class="notif-date-trigger">il y a 3 jours</small>
  </div>

  <div class="notification-card">
    <div class="notification-card-title">
      <i class="far fa-clock notif-icon-delayed"></i>
      <h3>Paiement en retard</h3>
    </div>
    <p>Votre client user.invoice.client ne vous a toujours pas réglé la facture numéro invoice.reference, d'un montant de invoice.total_amount_ttc euros. Le paiement était dû au invoice.due_date.</p>
    <small class="notif-date-trigger">il y a 3 jours</small>
  </div>

</div>
