<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- code a Hero / Banner section -->
  <div class="banner">

    <div class="landing-container">
     <!--  <h6>MAE</h6> -->
     <h1><span id="banner-typed-text"></span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ut praesentium ad hic, tempora vero dolorem maxime. Earum fugiat, nesciunt inventore blanditiis vitae pariatur explicabo molestiae animi consequatur velit facilis.</p>
      <%= link_to "mon espace", root_path, class: "button button-position" %>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="card-container">
    <h2 class="text-center"></h2>
    <div class="cards m-5">

      <div class="card">
        <img src="images/undraw_career_development_oqcb.svg" alt="">
        <h4>Apply</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="card">
        <img src="images/undraw_modern_professional_yt9h.svg" alt="">
        <h4>Learn to code</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="card">
        <img src="images/undraw_to_the_moon_v1mv.svg" alt="">
        <h4>Build products</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon.</p>

    </div>
  </div>

</body>
</html>
