<div class="welcome-card">
  <%#= @users.each do |user| %>
    <!-- <h2>Bonjour <%#= user.username %> !</h2> -->
  <%# end %>
</div>

<img class="illustration" src="<%= image_path('undraw_balloons_vxx5.svg') %>"/>




