<div class="container">
<h1 class= "structure ml-5">simulator</h1>
</div>

<script
id="script-simulateur-embauche" data-couleur="#ccc6f9" src="https://mon-entreprise.fr/simulateur-iframe-integration.js"></script>
