.page-layout {
  display: flex;
  // align-items: stretch;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 190px;
  flex-direction: column;
  flex: 0 0 200px;
  align-items: center;
}

.page-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
}

.nav-item-notif {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
}

.logo {
  display: inline-block;
  margin-bottom: 60px;
  width: 90px;
  background: image_path('logo-mae.png');
}

// .navigation-icons {
//   position: absolute;
//   top: 200px;
//   height: 250px;
// }

.notification-bar {
  position: fixed;
  right: -320px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 320px;
  z-index: 250;
  transition: right 0.6s ease-out;
  overflow: scroll;
  &.open {
    right: 0px;
  }
}

.welcome-card {
  position: relative;
  height: 200px;
  width: 620px;
}

.illustration {
  position: absolute;
  bottom: 16px;
  left: 400px;
  height: 215px;
}

.invoices-status {
  width: 310px;
}
