.page-layout {
  display: flex;
  align-items: stretch;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 190px;
  justify-content: center;
  align-items: center;
}


.page-container {
  flex-grow: 1;
}


// .structure {
//   // position: relative;
// }

// .main-container {
//   position: absolute;
//   left: 190px;
// }

.login {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
}

.nav-item {
  position: fixed;
  top: 15px;
  right: 0px;
  width: 280px;
}

// .sidebar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   // min-height: 100vh;
//   width: 190px;
// }

.logo {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 80px;
  width: auto;
  background: image_path('logo-mae.png');
}

.navigation-icons {
  position: absolute;
  top: 200px;
  height: 250px;
}

.notification-bar {
  // position: absolute;
  position: fixed;
  right: -310px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 280px;
  z-index: 250;
  transition: right 0.6s ease-out;
  &.open {
    right: 0px;
  }
}

.welcome-card {
  position: relative;
  height: 90px;
  width: 520px;
}

.illustration {
  position: absolute;
  bottom: 41px;
  right: 8px;
  height: 140px;
}

.invoices-status {
  width: 320px;
}
