p {
  margin-bottom: none;
  text-align: center;
}
.invoices_index_title {
// color: rgba(108, 22, 199, .5);
// color: rgba(250, 163, 6, .5);
// color: rgba(136, 152, 170, .6);
text-shadow: 2px 2px 0px rgba(136, 152, 170, .1);
margin-top: 40px;
margin-left: 8px;
margin-bottom: 20px;
}

.invoices_index_title i {
  // color: $pink;
  opacity: .8;
}

.invoices-array {
  max-height: 60vh;
  overflow: auto;
  margin: 0px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  color: rgb(136, 152, 170);
  justify-content: space-around;
  border: solid;
  border-color: rgba(136, 152, 170, .2);
  border-width: 1px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 2px 2px 8px rgba(136, 152, 170, .1);
  background-color: white;
}

.array-header {
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  justify-content: space-around;
  border-bottom: solid;
  border-color: rgba(250, 163, 6, .2);
  border-width: 1px;
  // background-color: rgb(246, 249, 252);
  padding-top: 15px;
  margin-bottom: 5px;
  background-color: white;
}

.array-header-column {
  width: 16%;
}

.array-header-column h4 {
  font-size: 15px;
  font-family: $headers-font;
  margin-top: 5px;
  text-align: center;
  color: rgba(250, 163, 6, .7);
}

.invoices-card {
  justify-content: space-around;
  border-bottom: solid;
  border-color: rgba(136, 152, 170, .2);
  border-width: 1px;
  margin: 10px;
}

.invoices-card:last-child {
  border-bottom: none;
  padding-bottom: none;
}

// .invoices-card:first-child {
//   margin-top: 10px;
// }

.invoice-infos {
  width: 16%;
  padding: 10px 8px;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
}

.invoices-card i {
  color: rgba(250, 163, 6, .6);
  font-size: 16px;
  margin-top: 2px;
  margin-right: 8px;
}

.statut {
  position: relative;
}

.invoice-actions {
  width: 4%;
  // padding: 5px;
  text-align: center;
  // font-weight: lighter;
}

.infos-price {
  font-weight: normal;
  color: rgba(107, 241, 120, .6);
  font-size: 14px;
}

.dropdown-item {
  font-weight: bolder;
  font-family: $body-font;
  color: white;
  font-size: 15px;
}



.dropdown-item:hover {
  font-weight: bolder;
  font-family: $body-font;
  color: rgba(250, 163, 6, .6);
  background-color: white;

  i {
    color: rgba(250, 163, 6, .8);
  }
}
.dropdown-item i {
  color: white;
}


.dropdown-menu {
  background-color: rgba(250, 163, 6, 1);
  border-radius: 15px;
  width: auto;
}

.color-line {
  margin-top: 15px;
  width: 100%;
  height: 2px;
  background-color: rgba(250, 163, 6, .7);
  border-radius: 15px 15px 0px 0px;
}

.fa-ellipsis-h:hover {
  zoom: 1.05;
}

.infos-titre {
 font-weight: normal;
}

.status-point {
  margin-top: 6px;
  margin-right: 6px;
}

.invoices-card .infos-status i {
  color: rgba(107, 241, 120, .3);
  font-size: 8px;
}

.infos-status {
  display: flex;
  justify-content: space-around;
}


.invoices-card .infos-status .draft i {
  color: rgba(250, 163, 6, .8);
}
.invoices-card .infos-status .draft {
  color: rgba(250, 163, 6, .8);
}
.invoices-card .draft {
  color: rgba(250, 163, 6, .8);
}


.invoices-card .infos-status .submitted i {
 color: rgba(250, 163, 6, .8);
}
.invoices-card .infos-status .submitted {
 color: rgba(250, 163, 6, .8);
}
.invoices-card .submitted {
 color: rgba(250, 163, 6, .8);
}


.invoices-card .infos-status .paid  i {
 color: rgba(107, 241, 120, .8);
}
.invoices-card .infos-status .paid {
 color: rgba(107, 241, 120, .8);
}
.invoices-card .paid {
 color: rgba(107, 241, 120, .8);
}

.invoices-card .infos-status .delayed  i {
 color: rgba(190, 12, 98, .8);
}
.invoices-card .infos-status .delayed {
 color: rgba(190, 12, 98, .8);
}
.invoices-card .delayed {
 color: rgba(190, 12, 98, .8);
}

.invoices-card .infos-status .archived  i {
 color: rgba(59, 132, 66, .8);
}
.invoices-card .infos-status .archived {
 color: rgba(59, 132, 66, .8);
}
.invoices-card .archived {
 color: rgba(59, 132, 66, .8);
}


.links {
  text-align: right;
}

.search-invoice{
  margin-top: 30px;
  justify-content: space-around;
}

.form-control {
  width: 70vh;
  border-radius: 5px;
  height: 42px;
}






.inp {
  position: relative;
  // margin: auto;
  width: 100%;
  max-width: 300px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: rgba(250, 163, 6, .8);
  // color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(250, 163, 6, .7);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(250, 163, 6, .8);
  background: none;
  border-radius: 0;
  color: rgba(250, 163, 6, .7);
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: rgba(250, 163, 6, .8);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: rgba(250, 163, 6, .8);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

.label i {
margin-top: 5px;
margin-right: 5px;
font-size: 15px;
}

.submit-index-search {
  margin-top: 8px;
  margin-left: 10px;
}
