$border-color: rgba(0,0,0,0.1);

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  border: 1px solid $border-color;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .button {
    width: 100%;
    margin-bottom: 20px;
  }
}
