li {
  list-style: none;
}

.sidebar {
  background: white;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.navigation-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: black;
    opacity: 0.7;
    transition: all 0.3s ease;
  }
  a:hover {
    transform: scale(1.08);
    opacity: 1;
  }
}

.icons{
  font-size: 17px;
}

.icon-and-title {
  display: flex;
  align-items: center;
  p {
    margin: 0px 0px 0px 7px;
  }
}

.notif-button {
  align-items: center;
  display: flex;
  p {
    margin: 0px 0px 0px 7px;
  }
}
