.fc-left {
  font-size: 10px;
}

.fc-today-button {
  font-size: 10px;
  background-color: $yellow;
  color: white;
}

.fc-button-primary {
  font-size: 10px;
  background-color: $yellow;
  color: white;
}


