.show {
  display: block;
}

.display-none {
  display: none;
}

.col-form-label {
  display: none;
}

// .tab-pane {
//   background-color: white;
//   border-radius: 6px;
//   box-shadow: 0 10px 30px rgba(135, 129, 130, 0.5);
//   padding: 40px;
//   max-width: 900px;
// }

.tab-pane {
  position: absolute;
  top: 100px;
  left: 400px;

}

.nav {
  position: absolute;
  top: 60px;
  left: 400px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

#first-tab {
  justify-content: flex-end;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: $pink;
  box-shadow: 0 10px 30px rgba(135, 129, 130, 0.5);
  transition: background 0.1s ease;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}
