.show {
  display: block;
}

.display-none {
  display: none;
}

.col-form-label {
  display: none;
}

.form-group .simul {
  display: flex;
}
/////

.tab-pane {
  position: absolute;
  top: 120px;
  left: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 650px;
    h3 {
      text-align: center;
    }
}

.nav {
  position: absolute;
  top: 60px;
  left: 400px;
}

#pills-tab {
  width: 630px;
  display: inline-flex;
  justify-content: space-between;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

#first-tab {
  justify-content: flex-end;
}

.nav-pills .nav-link {
  border-radius: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $pink;
  padding: 8px 24px;
  // border-radius: 5px;
  background: transparent;
  box-shadow: 0 4px 0px $pink;
  transition: background 0.1s ease;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.form-group .simul {
  height: 267px;
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  input {
    display: none;
  }
}

.year-choices {
  flex-direction: row;
  flex-wrap: wrap;
}

.year {
  width: 100%;
  flex: 0 0 48% !important;
}

.category-choice {
  border-style: solid;
  background-color: transparent;
  border-color: #5E6073;
  border-opacity: .5;
  color: #5E6073;
  border-width: 3px;
  padding: 20px;
  border-radius: 4px;
  opacity: .7;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    background: #F4B8C8;
    border-style: solid;
    border-width: 3px;
    border-color: #EA4569;
    background-opacity: .6;
    color: #EA4569;
    cursor: pointer;
  }
  &.active {
    opacity: 1;
    background: #F4B8C8;
    border-style: solid;
    border-width: 3px;
    border-color: #EA4569;
    background-opacity: .7;
    color: #EA4569;
    cursor: pointer;
  }
}
