.show {
  display: block;
}

.display-none {
  display: none;
}

.col-form-label {
  display: none;
}

/////

// Form design
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: green;
  color: white;
  opacity: 1;
  }
}

.tab-pane {
  position: absolute;
  top: 100px;
  left: 400px;

}

.nav {
  position: absolute;
  top: 60px;
  left: 400px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

#first-tab {
  justify-content: flex-end;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: $pink;
  box-shadow: 0 10px 30px rgba(135, 129, 130, 0.5);
  transition: background 0.1s ease;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}
